# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.swo
*~
*.bak
*.tmp

# Operating System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws
.fleet/
*.sublime-project
*.sublime-workspace
.atom/
.history/
.buildlog/
.widget_preview/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
/releases/
*.apk
pubspec-overrides.yaml

# Sensitive & Environment
.env
.env.*
!.env.example
*.keystore
*.jks

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
android/**/gradle-*.bin
android/.gradle/
android/.kotlin/
android/local.properties
android/**/GeneratedPluginRegistrant.java
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/app/build/

# Other Platforms (Project is Android-only)
/ios/
/windows/
/macos/
/linux/
/web/

# Project Specific (PRoot 构建与临时目录)
proot-source/
build_proot_deps/
build_proot_out/
migrate_working_dir/
